<%- include('../views/header'); %>
<h1><%= title%></h1>       
<div>
    <% //TODO: update so only currently active ministries display %>
    <%console.log(data); %>

     <!-- <select name="history" id="history" class="form-control">
        <option value=""></option>
            <% //for (let i=0; i<data.length;i++){ %>
        <option value="<%= //data[i].ministry_name%>">
            <%= //data[i].ministry_name%>
        </option>
        <% //} %>
    </select>
</div>  -->
<%- include('../views/footer'); %>
