<%- include('../views/header'); %>
<div class="container-fluid title text-center" id="histTitle">
    <h4><%= title%></h4>  
</div>
<div class="container-fluid ">
    <form id="historyForm">
        <label class="pt-2 py-2" for="selectMinistryHist">Select a ministry:</label>
        <select name="selectMinistryHist" id="selectMinistryHist" class="form-control">
                <% data.forEach(ministry =>{ %>
                <option value="<%= ministry.ministry_id %>">
                <%= ministry.ministry_name %>
            </option>
            <% }); %>
        </select>
    </form>
</div>
<div class="pt-2 py-2 container-fluid" id=histDisplay>
    <p id="noHistory"></p>
    <table id="historyTable" class="table"></table>
</div>

<script defer>
    //pass the history data as variable to use in custom.js file
    let theHistoryData = '<%- JSON.stringify(data) %>';
</script>

<%- include('../views/footer'); %>
<%- include('../views/historyJSScript.ejs'); %> <!-- only include this js file script on history page: -->
<%- include('../views/closingTags'); %>
