<%- include('../views/header'); %>
<h1><%= title%></h1>       
<div>
    <form id="historyForm">
        <label for="selectMinistryHist">Select a ministry:</label>
        <select name="selectMinistryHist" id="selectMinistryHist" class="form-control">
                <% data.forEach(ministry =>{ %>
                <option value="<%= ministry.ministry_id %>">
                <%= ministry.ministry_name %>
            </option>
            <% }); %>
        </select>
    </form>
</div>
<div id=histDisplay>
    <p id="noHistory"></p>
    <table id="historyTable" class="table"></table>
</div>

<script defer>
    //pass the history data as variable to use in custom.js file
    let theHistoryData = '<%- JSON.stringify(data) %>';
</script>

<%- include('../views/footer'); %>
<%- include('../views/historyJSScript.ejs'); %> <!-- only include this js file script on history page: -->
<%- include('../views/closingTags'); %>
